In [1]:
import pandas as pd

In [2]:
val_session = pd.read_pickle('./val_sessions.df')
val_session

        session_id  user_id  item_id          time  watch_ratio  is_pos
228             32        0     3403  1.598690e+09     2.845909       1
229             32        0     7133  1.598691e+09     2.122607       1
230             32        0     3403  1.598694e+09     5.304063       1
231             32        0     3396  1.598694e+09     3.684135       1
232             32        0     6349  1.598705e+09     2.726985       1
...            ...      ...      ...           ...          ...     ...
929915      234887     7175     7097  1.598841e+09     9.241597       1
929916      234888     7175     1177  1.598855e+09     6.696436       1
929917      234888     7175     1177  1.598855e+09     6.696436       1
929918      234888     7175     3107  1.598856e+09     6.076271       1
929919      234888     7175     3107  1.598856e+09     6.076271       1

[76995 rows x 6 columns]

In [3]:
def pad_history(itemlist,length,pad_item):
    if len(itemlist)>=length:
        return itemlist[-length:]
    if len(itemlist)<length:
        temp = [pad_item] * (length-len(itemlist))
        itemlist.extend(temp)
        return itemlist
    
data_statis = pd.read_pickle('./data_statis.df')  # read data statistics, includeing seq_size and item_num
length = data_statis['seq_size'][0]  # the length of history to define the seq
pad_item = data_statis['item_num'][0]  # total number of items

state, len_state, action = [], [], []

ids = val_session.session_id.unique()

groups = val_session.groupby('session_id')

for id in ids:
    group = groups.get_group(id)
    history = []
    for index, row in group.iterrows():
        s = list(history)
        len_state.append(length if len(s) >= length else 1 if len(s) == 0 else len(s))
        s = pad_history(s, length, pad_item)
        a = row['item_id']
        is_r = row['time']
        state.append(s)
        action.append(a)
        history.append(row['item_id'])
        # next_s = list(history)
        # len_next_state.append(length if len(next_s)>=length else 1 if len(next_s)==0 else len(next_s))
        # next_s = pad_history(next_s, length, pad_item)
        # next_state.append(next_s)

val_dic = {'seq':state,'len_seq':len_state,'next':action}

val_buffer=pd.DataFrame(data=val_dic)
val_buffer.to_pickle('./val_data.df')
val_buffer

                                                     seq  len_seq    next
0      [7261, 7261, 7261, 7261, 7261, 7261, 7261, 726...        1  3403.0
1      [3403.0, 7261, 7261, 7261, 7261, 7261, 7261, 7...        1  7133.0
2      [3403.0, 7133.0, 7261, 7261, 7261, 7261, 7261,...        2  3403.0
3      [3403.0, 7133.0, 3403.0, 7261, 7261, 7261, 726...        3  3396.0
4      [3403.0, 7133.0, 3403.0, 3396.0, 7261, 7261, 7...        4  6349.0
...                                                  ...      ...     ...
76990  [4473.0, 4473.0, 7097.0, 7261, 7261, 7261, 726...        3  7097.0
76991  [7261, 7261, 7261, 7261, 7261, 7261, 7261, 726...        1  1177.0
76992  [1177.0, 7261, 7261, 7261, 7261, 7261, 7261, 7...        1  1177.0
76993  [1177.0, 1177.0, 7261, 7261, 7261, 7261, 7261,...        2  3107.0
76994  [1177.0, 1177.0, 3107.0, 7261, 7261, 7261, 726...        3  3107.0

[76995 rows x 3 columns]

In [4]:
test_session = pd.read_pickle('./test_sessions.df')

def pad_history(itemlist,length,pad_item):
    if len(itemlist)>=length:
        return itemlist[-length:]
    if len(itemlist)<length:
        temp = [pad_item] * (length-len(itemlist))
        itemlist.extend(temp)
        return itemlist
    
data_statis = pd.read_pickle('./data_statis.df')  # read data statistics, includeing seq_size and item_num
length = data_statis['seq_size'][0]  # the length of history to define the seq
pad_item = data_statis['item_num'][0]  # total number of items

state, len_state, action = [], [], []

ids = test_session.session_id.unique()

groups = test_session.groupby('session_id')

for id in ids:
    group = groups.get_group(id)
    history = []
    for index, row in group.iterrows():
        s = list(history)
        len_state.append(length if len(s) >= length else 1 if len(s) == 0 else len(s))
        s = pad_history(s, length, pad_item)
        a = row['item_id']
        is_r = row['time']
        state.append(s)
        action.append(a)
        history.append(row['item_id'])
        # next_s = list(history)
        # len_next_state.append(length if len(next_s)>=length else 1 if len(next_s)==0 else len(next_s))
        # next_s = pad_history(next_s, length, pad_item)
        # next_state.append(next_s)

test_dic = {'seq':state,'len_seq':len_state,'next':action}

test_buffer=pd.DataFrame(data=test_dic)
test_buffer.to_pickle('./test_data.df')
test_buffer

                                                     seq  len_seq    next
0      [7261, 7261, 7261, 7261, 7261, 7261, 7261, 726...        1  2366.0
1      [2366.0, 7261, 7261, 7261, 7261, 7261, 7261, 7...        1  3269.0
2      [2366.0, 3269.0, 7261, 7261, 7261, 7261, 7261,...        2  4366.0
3      [2366.0, 3269.0, 4366.0, 7261, 7261, 7261, 726...        3  4397.0
4      [2366.0, 3269.0, 4366.0, 4397.0, 7261, 7261, 7...        4  1050.0
...                                                  ...      ...     ...
55341  [3237.0, 6287.0, 811.0, 979.0, 7261, 7261, 726...        4  4515.0
55342  [3237.0, 6287.0, 811.0, 979.0, 4515.0, 7261, 7...        5  1094.0
55343  [7261, 7261, 7261, 7261, 7261, 7261, 7261, 726...        1  2398.0
55344  [2398.0, 7261, 7261, 7261, 7261, 7261, 7261, 7...        1  6968.0
55345  [2398.0, 6968.0, 7261, 7261, 7261, 7261, 7261,...        2  6435.0

[55346 rows x 3 columns]